<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Ch09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 등록 /주소 연결-->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>sub1.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 서블릿 등록 /주소 연결-->
  <servlet>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<servlet-class>sub1.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<url-pattern>/welcome.do</url-pattern>
  </servlet-mapping>
  
  <!-- 필터 등록/연결 -->
  <filter>
  	<filter-name>FilterA</filter-name>
  	<filter-class>sub2.FilterA</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterA</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 필터 등록/연결 -->
  <filter>
  	<filter-name>FilterB</filter-name>
  	<filter-class>sub2.FilterB</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterB</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 리스너 등록 -->
  <listener>
  	<listener-class>sub3.MyContextListener</listener-class>
  </listener>
  
</web-app>